.color{
    width: 600px;
    background-color: aqua;
    color: red;
    height: 300px;
    border: rgb(222, 17, 237) groove 14px;
    display: inline-block;
    border-radius: 20px;   
}
.service{
    display: block;
    font-size: 30px;
    padding: 12px;
    margin-bottom: 0;
}
.exercise{
    width: 90px;
    height: 40px;
    margin-left: 12px;
    font-size: 22px;
    border-radius: 9px;
   
}
.exercise2{
    width: 36%;
    border: 1px solid green;
    height: 60px;
    border-radius: 10px;
    background-color: aquamarine;
    margin-top: 12px;
    box-shadow: -1px 0px 7px 2px rgba(0,0,0,0.6);
    
}
.control{
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 6px;
    border-radius: 30px 30px 30px 30px;

}
button{
    display: inline-block;
}
.note1{
   display: inline-block;
    vertical-align: top;
   margin-left: 10%;
   font-size: 30px;
   margin-top: 20px; 
}
.note1 a{
    text-decoration: none;
    color: rgb(99, 55, 63);
}
.note2{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 10%;
    width: 24%;
    margin-top: 13px;
    height: 40px;
    font-size: 20px;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px;
    border: blue solid 2px;
    border: none;
    
}
.note2:hover{
 background-color: yellowgreen;
 color: white;
}
.exercise3{
    width: 12% ;
    border: 3px solid blue;
    margin-top: 22px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: -1px 0px 7px 2px rgba(0,0,0,0.6);
    margin-right: 20px;
    margin-bottom: 50px;
}
.exercise3:hover{
    box-shadow: 0px 5px 20px 7px rgba(61,61,61,1);
    cursor: pointer;
}
.facebook{
    width: 202px;
    height: 150px;
    object-position: right;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.facebook:hover{
    filter: brightness(100%);
    object-position: bottom;
    object-fit: cover;
}
.friend-name{
    font-size: 20px;
    margin-top: 3px;
    margin-left: 5px;
}
.friend-comparison{
    margin-left: 5px;
    margin-top: -15px;
    margin-bottom: -1px;
    font-size: 20px;


}
.add{
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 8px;
    padding: 9px 9px;
    border-radius: 6px;
    background-color: blue;
    color: white;
    border: none;
    object-position: top;
    object-fit: cover;
}
.exercise4{
    text-align: center;
    width: 100%;
    height: 500px;
}

.searched{
    width: 600px;
}
.google-search{
    margin-left: 30%;
    width: 700px;
    height: 25px;
    padding: 15px;
    font-size: 20px;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border:none;
    box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.6);
    margin-top: 45px;
    display: block;
    color:blueviolet;
}

.all{
    width: 180px;
    height: 45px;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    border: none;
    margin-right: 35px;
    
    
}
.all2{
    width: 180px;
    height: 45px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.exercise5{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 12px;
    width: 270px;
    height: 40%;
    /* border: 1px solid blue; */
    border: none;
    margin-top: 22px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: -1px 0px 7px 2px rgba(0,0,0,0.6);
    margin-right: 40px;
    margin-left: 15px;
    margin-bottom: 40px;
}
.exercise5:hover{
    box-shadow: 0px 5px 20px 7px rgba(61,61,61,1);
    cursor: pointer;
}
.facebook-icon{
    width: 270px;
    height:  250px;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
}

.facebook-icon:hover{
    filter: brightness(100%);
    object-position: bottom;
    object-fit: cover;
}
.new-friend-name{
    font-size: 20px;
    margin-top: 3px;
    margin-left: 5px;
    margin-left: 6px;
}

.facebook-head{
    display: inline-block;
    margin-top: -15px; 
    margin-left: 6px;
  
}
.head{
    width: 50px;
    height: 50px;
    border-radius: 50px;

}
.friend-comparison{
    display: inline-block;
    vertical-align: top;
    margin-top: -23px;
}
.friend-mutual{
    font-weight: 400;
   
   
}
.add{
    width: 150px;
    height: 50px;
    margin-left: 6px;
}

.add:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 181);


}